<!DOCTYPE html>
<html>
<head>
<title>Battle - GAME OVER</title>
</head>
<body>
<h1>Game over <%= @game.dead_player.name %> is Dead!</h1>
<iframe src="//giphy.com/embed/GW10shdM3oXok" width="480" height="377" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/ace-ventura-loser-GW10shdM3oXok">via GIPHY</a></p>
</body>
</html>
