<!DOCTYPE html>
<html>

<head>
  <title>
    Battle
  </title>


</head>

<body>

    <form action="/names" method="post">
      player_1_name: <input type="text" name="player_1">
      player_2_name: <input type="text" name="player_2">
      <input type="submit" value="Submit">
    </form>

</body>

</html>
