<!DOCTYPE html>
<html>

<head>
  <title>
    Battle
  </title>


</head>

<body>

    <form action="/names" method="post">
      Player1_name: <input type="text" name="player1">
      Player2_name: <input type="text" name="player2">
      <input type="submit" value="Submit">
    </form>

</body>

</html>
