<!DOCTYPE html>
<html>

<head>
  <title>
  </title>

  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
  <div class="input_text">
    <form class="text_field" action="/names" method="post">
      Player1_name: <input type="text" name="player1">
      Player2_name: <input type="text" name="player2">
      <input class="button" type="submit" value="Submit">
    </form>
  </div>
</body>

</html>
